body{
    font-family: Helvetica,'lucida Grande',sans-serif;

}
.titulo{
 color:grey;
    background-color: aliceblue
}
   
 figure{
    text-align: center;
    border: width 1px;
    border-color: sold lightgray;
    background-color: whitesmoke;
}
